@font-face {
    font-family: 'ABCMaxiRoundMonoVariable-Trial';
    src: url('./assets/ABCMaxiRoundMonoVariable-Trial.ttf') format('truetype');
}

.title {
    font-family: 'ABCMaxiRoundMonoVariable-Trial', sans-serif;
    font-size: 6.05rem;
    text-align: center;
    line-height: 1;
    position: fixed;
    top: 50%;
    left: 50.1%;
    transform: translate(-50%, -50%);
    z-index: 100;
}

body {
    height: auto;
    margin: 0;
    background-color: #f0f0f0;
    display: flex;
    justify-content: space-between;
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(30px);
    }
}

.left, .middle, .right {
    height: 500vh;
    width: calc(100vw / 3);
    background-color: #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: -400vh;
}

.middle {
    margin-top: 0vh; 
}

.right {
    float: right; 
    margin-left: auto;
}

.box {
    height: 50vh;
    width: 100%; 
    border: 0.7px solid #141414;
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px); /* Adjust the bounce height as needed */
    }
}

.bounce {
    animation: bounce 0.5s;
}