@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

@font-face {
    font-family: 'ABCMaxiRoundMonoVariable-Trial';
    src: url('./assets/ABCMaxiRoundMonoVariable-Trial.ttf') format('truetype');
}


.title {
    font-family: 'ABCMaxiRoundMonoVariable-Trial', sans-serif;
    font-size: 6.8vw;
    text-align: center;
    line-height: 1;
    position: fixed;
    top: 50%;
    left: 50.1%;
    transform: translate(-50%, -50%);
    z-index: 100;
}

body {
    height: auto;
    margin: 0;
    background-color: #f0f0f0;
    display: flex;
    justify-content: space-between;
    font-family: "Lexend", sans-serif;

}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(30px);
    }
}

.left, .middle, .right {
    height: 500vh;
    width: calc(100vw / 3);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: -420vh;
}

.middle {
    margin-top: 0vh; 
}

.right {
    margin-left: auto;
}

.box {
    position: relative;
    height: 50vh;
    width: 100%;
    border: 0.7px solid #141414;
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 10px; 
    flex: none;
    overflow: hidden
}
/* 
.container {
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    height: 100vh; 
} */

.default {
    width: auto;
    height: 32%;
    max-width: 100%; 
    max-height: 100%;
    object-fit: contain; 
    position: absolute; 
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: contain;
    transition: opacity 0.3s ease; 
}  

.centered {
    width: 150%;
    height: 150%;
    align-items: center;
    position: absolute;
    transition: opacity 0.3s ease;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
    filter: blur(12px);
    opacity: 0;
}

.name {
    z-index: 100;
    font-family: "Lexend", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1.4vw;
    color: #f0f0f0;
    opacity: 0;
    position: absolute;
    line-height: 3.3vh;
    object-fit: contain;
    transition: opacity 0.3s ease;
    padding-top: 13%;

}
.type,
.about,
.composition,
.hardness,
.varieties {
    z-index: 100;
    font-family: "Lexend", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1vw;
    color: #f0f0f0;
    opacity: 0;
    text-align: left;
    position: relative;
    line-height: 3.2vh;
    object-fit: contain;
    transition: opacity 0.3s ease;
}

.show {
    opacity: 1;
}

.text {
    padding-top: 22%;
    display: flex;
    justify-content: center; /* Center horizontally */
    text-align: left; /* Align text to the left */
    flex-direction: column;
    word-wrap: break-word;
    max-width: 65%;
}