@import url('https://fonts.googleapis.com/css2?family=Cardo:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 100vw;
  min-height: 100vh;
  place-items: center;
  background-color: #F1EEE5;
}

.overlay {
    width: 83%;
    height: 76%;
    display: flex;
    padding: 3%;
    background: rgba(241, 238, 229, 0.4);
    box-shadow: 0 0.75rem 2rem 0 rgba(0, 0, 0, 0.1);
    border-radius: 2rem;
    border: 1px solid rgba(255, 255, 255, 0.125);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

.overlay__title {
    position: absolute;
    font-family: 'buljirya', sans-serif;
    font-size: 2.5rem;
    line-height: 2;
    font-weight: 700;
    color: #F1EEE5; 
    }

.p {
    font-family: 'Cardo', serif; 
    position: absolute;
    color: #CF9A33; 
    line-height: 1.8;
    font-size: 1.6rem;
    overflow: auto; 
    padding-top: 16rem;
    max-height: calc(100% - 4rem); 
    padding-right: 4rem; 
    margin-right: 0; 
}

.grid-container {
    position: fixed;
    top: 33%;
    right: 0;
    height: 100vh;
    width: 8vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#circle-svg {
    position: relative;
    overflow: hidden;
    transition: all 0.3s;
    border-radius: 100px;
    border: 2px solid #232323;
    width: 38px;
    height: 38px;
    z-index: 100;
    margin-top: 14rem;
}

#circle-svg:hover {
    width: 44px;
    height: 44px;
    border-radius: 100px;
    border: 2px solid #232323;
}

.svg-container {
    position: relative;
    width: 100%;
    height: 100%;
}

#inside-svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    fill: #232323;
    width: 34px;
    height: 34px;
}

.home {
    position: absolute; 
    bottom: 95%;
    left: 53%;
    transform: translate(-50%, 50%);
    width: 34px;
    height: 34px;
    transition: all 0.3s;
    display: inline-block;
}

.home:hover {
    transform: translate(-50%, 50%) scale(1.2); 
}